/* 
@media (max-width: 2048px) and (min-width: 1990px) {
    html {
        font-size: 15.6px; 
    }
}

@media (max-width: 1990px) and (min-width: 1932px) {
    html {
        font-size: 15.2px;
    }
}

@media (max-width: 1932px) and (min-width: 1874px) {
    html {
        font-size: 14.8px; 
    }
}

@media (max-width: 1874px) and (min-width: 1816px) {
    html {
        font-size: 14.4px; 
    }
}

@media (max-width: 1815px) and (min-width: 1758px) {
    html {
        font-size: 14px; 
    }
}

@media (max-width: 1758px) and (min-width: 1700px) {
    html {
        font-size: 13.6px;
    }
}

@media (max-width: 1700px) and (min-width: 1642px) {
    html {
        font-size: 13.2px; 
    }
}

@media (max-width: 1642px) and (min-width: 1584px) {
    html {
        font-size: 12.8px; 
    }
}

@media (max-width: 1584px) and (min-width: 1526px) {
    html {
        font-size: 12.4px; 
    }
}

@media (max-width: 1526px) and (min-width: 1468px) {
    html {
        font-size: 12px;
    }
}
@media (width <= 1467px) {
    html {
        font-size: 11.7px;
    }
}
@media (max-width: 1468px) and (min-width: 1409px) {
    html {
        font-size: 11.6px; 
    }
}

@media (max-width: 1409px) and (min-width: 1352px) {
    html {
        font-size: 11.2px; 
    }
}

@media (max-width: 1352px) and (min-width: 1294px) {
    html {
        font-size: 10.8px; 
    }
}

@media (max-width: 1294px) and (min-width: 1236px) {
    html {
        font-size: 10.4px; 
    }
}

@media (max-width: 1236px) and (min-width: 1178px) {
    html {
        font-size: 10px; 
    }
}

@media (max-width: 1178px) and (min-width: 1118px) {
    html {
        font-size: 9.6px; 
    }
}

@media (max-width: 1118px) and (min-width: 1060px) {
    html {
        font-size: 9.2px; 
    }
}

@media (max-width: 1060px) and (min-width: 1002px) {
    html {
        font-size: 8.8px; 
    }
}

@media (max-width: 1002px) and (min-width: 944px) {
    html {
        font-size: 8.4px; 
    }
}

@media (max-width: 944px) and (min-width: 886px) {
    html {
        font-size: 8px; 
    }
}

@media (max-width: 886px) and (min-width: 828px) {
    html {
        font-size: 7.6px; 
    }
}

@media (max-width: 828px) and (min-width: 770px) {
    html {
        font-size: 7.2px; 
    }
}
@media (max-width: 770px) and (min-width: 769px) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 769px) {
    html {
        font-size: 6px; 
    }
}


@media (width <= 768px) {
    html {
        font-size: 16px;
    }
    .image-background {
        height: 100vh;
        background-size: cover;
        opacity: 0.1;
    }
    .main {
        width: 100%;
    }
}

@media (width <= 768px) {
    html {
        font-size: 16px;
    }
}

@media (width <= 763px) {
    html {
        font-size: 15.9px;
    }
}

@media (width <= 758px) {
    html {
        font-size: 15.8px;
    }
}

@media (width <= 753px) {
    html {
        font-size: 15.7px;
    }
}

@media (width <= 748px) {
    html {
        font-size: 15.6px;
    }
}

@media (width <= 743px) {
    html {
        font-size: 15.5px;
    }
}

@media (width <= 738px) {
    html {
        font-size: 15.4px;
    }
}

@media (width <= 733px) {
    html {
        font-size: 15.3px;
    }
}

@media (width <= 728px) {
    html {
        font-size: 15.2px;
    }
}

@media (width <= 723px) {
    html {
        font-size: 15.1px;
    }
}

@media (width <= 718px) {
    html {
        font-size: 15px;
    }
}

@media (width <= 713px) {
    html {
        font-size: 14.9px;
    }
}

@media (width <= 708px) {
    html {
        font-size: 14.8px;
    }
}

@media (width <= 703px) {
    html {
        font-size: 14.7px;
    }
}

@media (width <= 698px) {
    html {
        font-size: 14.6px;
    }
}

@media (width <= 693px) {
    html {
        font-size: 14.5px;
    }
}

@media (width <= 688px) {
    html {
        font-size: 14.4px;
    }
}

@media (width <= 683px) {
    html {
        font-size: 14.3px;
    }
}

@media (width <= 678px) {
    html {
        font-size: 14.2px;
    }
}

@media (width <= 673px) {
    html {
        font-size: 14.1px;
    }
}

@media (width <= 668px) {
    html {
        font-size: 14px;
    }
}

@media (width <= 663px) {
    html {
        font-size: 13.9px;
    }
}

@media (width <= 658px) {
    html {
        font-size: 13.8px;
    }
}

@media (width <= 653px) {
    html {
        font-size: 13.7px;
    }
}

@media (width <= 648px) {
    html {
        font-size: 13.6px;
    }
}

@media (width <= 643px) {
    html {
        font-size: 13.5px;
    }
}

@media (width <= 638px) {
    html {
        font-size: 13.4px;
    }
}

@media (width <= 633px) {
    html {
        font-size: 13.3px;
    }
}

@media (width <= 628px) {
    html {
        font-size: 13.2px;
    }
}

@media (width <= 623px) {
    html {
        font-size: 13.1px;
    }
}

@media (width <= 618px) {
    html {
        font-size: 13px;
    }
}

@media (width <= 613px) {
    html {
        font-size: 12.9px;
    }
}

@media (width <= 608px) {
    html {
        font-size: 12.8px;
    }
}

@media (width <= 603px) {
    html {
        font-size: 12.7px;
    }
}

@media (width <= 598px) {
    html {
        font-size: 12.6px;
    }
}

@media (width <= 593px) {
    html {
        font-size: 12.5px;
    }
}

@media (width <= 588px) {
    html {
        font-size: 12.4px;
    }
}

@media (width <= 583px) {
    html {
        font-size: 12.3px;
    }
}

@media (width <= 578px) {
    html {
        font-size: 12.2px;
    }
}

@media (width <= 573px) {
    html {
        font-size: 12.1px;
    }
}

@media (width <= 568px) {
    html {
        font-size: 12px;
    }
}

@media (width <= 563px) {
    html {
        font-size: 11.9px;
    }
}

@media (width <= 558px) {
    html {
        font-size: 11.8px;
    }
}

@media (width <= 553px) {
    html {
        font-size: 11.7px;
    }
}

@media (width <= 548px) {
    html {
        font-size: 11.6px;
    }
}

@media (width <= 543px) {
    html {
        font-size: 11.5px;
    }
}

@media (width <= 538px) {
    html {
        font-size: 11.4px;
    }
}

@media (width <= 533px) {
    html {
        font-size: 11.3px;
    }
}

@media (width <= 528px) {
    html {
        font-size: 11.2px;
    }
}

@media (width <= 523px) {
    html {
        font-size: 11.1px;
    }
}

@media (width <= 518px) {
    html {
        font-size: 11px;
    }
}

@media (width <= 513px) {
    html {
        font-size: 10.9px;
    }
}

@media (width <= 508px) {
    html {
        font-size: 10.8px;
    }
}

@media (width <= 503px) {
    html {
        font-size: 10.7px;
    }
}

@media (width <= 498px) {
    html {
        font-size: 10.6px;
    }
}

@media (width <= 493px) {
    html {
        font-size: 10.5px;
    }
}

@media (width <= 488px) {
    html {
        font-size: 10.4px;
    }
}

@media (width <= 483px) {
    html {
        font-size: 10.3px;
    }
}

@media (width <= 478px) {
    html {
        font-size: 10.2px;
    }
}

@media (width <= 473px) {
    html {
        font-size: 10.1px;
    }
}

@media (width <= 468px) {
    html {
        font-size: 10px;
    }
}

@media (width <= 463px) {
    html {
        font-size: 9.9px;
    }
}

@media (width <= 458px) {
    html {
        font-size: 9.8px;
    }
}

@media (width <= 453px) {
    html {
        font-size: 9.7px;
    }
}

@media (width <= 448px) {
    html {
        font-size: 9.6px;
    }
}

@media (width <= 443px) {
    html {
        font-size: 9.5px;
    }
}

@media (width <= 438px) {
    html {
        font-size: 9.4px;
    }
}

@media (width <= 433px) {
    html {
        font-size: 9.3px;
    }
}

@media (width <= 428px) {
    html {
        font-size: 9.2px;
    }
}

@media (width <= 423px) {
    html {
        font-size: 9.1px;
    }
}

@media (width <= 418px) {
    html {
        font-size: 9px;
    }
}

@media (width <= 413px) {
    html {
        font-size: 8.9px;
    }
}

@media (width <= 408px) {
    html {
        font-size: 8.8px;
    }
}

@media (width <= 403px) {
    html {
        font-size: 8.7px;
    }
}

@media (width <= 398px) {
    html {
        font-size: 8.6px;
    }
}

@media (width <= 393px) {
    html {
        font-size: 8.5px;
    }
}

@media (width <= 388px) {
    html {
        font-size: 8.4px;
    }
}

@media (width <= 383px) {
    html {
        font-size: 8.3px;
    }
}

@media (width <= 378px) {
    html {
        font-size: 8.2px;
    }
}

@media (width <= 373px) {
    html {
        font-size: 8.1px;
    }
}

@media (width <= 368px) {
    html {
        font-size: 8px;
    }
}

@media (width <= 363px) {
    html {
        font-size: 7.9px;
    }
}

@media (width <= 358px) {
    html {
        font-size: 7.8px;
    }
}

@media (width <= 353px) {
    html {
        font-size: 7.7px;
    }
}

@media (width <= 348px) {
    html {
        font-size: 7.6px;
    }
}

@media (width <= 343px) {
    html {
        font-size: 7.5px;
    }
}

@media (width <= 338px) {
    html {
        font-size: 7.4px;
    }
}

@media (width <= 333px) {
    html {
        font-size: 7.3px;
    }
}

@media (width <= 328px) {
    html {
        font-size: 7.2px;
    }
}

@media (width <= 323px) {
    html {
        font-size: 7.1px;
    }
}

@media (width <= 318px) {
    html {
        font-size: 7px;
    }
}

@media (width <= 313px) {
    html {
        font-size: 6.9px;
    }
}

@media (width <= 308px) {
    html {
        font-size: 6.8px;
    }
}

@media (width <= 303px) {
    html {
        font-size: 6.7px;
    }
}

@media (width <= 298px) {
    html {
        font-size: 6.6px;
    }
}

@media (width <= 293px) {
    html {
        font-size: 6.5px;
    }
}

@media (width <= 288px) {
    html {
        font-size: 6.4px;
    }
}

@media (width <= 283px) {
    html {
        font-size: 6.3px;
    }
} */

html {
    font-size: clamp(12px, 5px, 16px);
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .image-background {
        height: 100vh;
        background-size: cover;
        opacity: 0.1;
    }

    .main {
        width: 100%;
    }
}
