@media (width >= 768px) {
    html {
        font-size: clamp(6px, .8vw, 15.6px);
    }
}
    
    @media (width <= 768px) {
    html {
        font-size: clamp(6px, 2vw, 16px);
    }
    .image-background {
        height: 100vh;
        background-size: cover;
        opacity: 0.1;
    }
    .main {
        width: 100%;
    }
}
